@charset "utf-8";
/* CSS Document */

body
{
	background-image: url(bg.jpg);
	background-size: 100% auto;
	line-height:2em;
}

main{
	float: right;
	background-color: rgba(218, 218, 218, 0.8);
	width: 50%;
	padding: 10px;
}

div{
	float: right;
}

img
{
	border-radius:30px;	
	box-shadow: 5px 5px 10px 7px rgba(0,0,0,0.7);

}

#tartalom
{
	box-shadow: -5px 5px 10px 7px rgba(0,0,0,0.7);	
	
}

h1
{
	text-shadow:2px 2px 5px  rgba(0,0,0,0.7);
	line-height:1.5em;
}

li
{
	list-style-position:inside;
	
	list-style-image: url(icon.png);
	
}

p
{
	text-align:justify;
}

p:first-letter
{
	margin-left:20px;
}

a
{
	color:#1c1815;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
	font-weight:800;
}
#also{
	width: 40%;
	float: right;
	margin-left: 15px;
}

#kozepe{
	display: block;
	margin: auto;
}
h3{
	text-align: center;
}

h1{
	text-align: center;
}